.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
        margin-left: 16px;
        font-size: 32px;
    }
    background-color: rgb(211, 209, 209);
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

.player-active {
    background-color: rgb(173, 134, 36);
}